body {
  box-sizing: border-box;
  background-color: #fff;
}
/* header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(255, 177, 9);
  position: fixed;
  top: 0;
  z-index: 100;
}
header h1 {
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
  background-color: #ddd;
}
.headerToggle {
  box-sizing: border-box;
  display: block;
  width: 23px;
  height: 23px;
  background-color: transparent;
  text-indent: -9999px;
  position: absolute;
  right: 10px;
}
.headerToggle span {
  display: inline-block;
  width: 19px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 11px;
  right: 0;
}
.headerToggle::before,
.headerToggle::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 3px;
  width: 23px;
  height: 2px;
  background-color: black;
}
.headerToggle::after {
  top: 18px;
  width: 15px;
}
.menuList {
  position: absolute;
  top: 0px;
  right: 0;
  width: 250px;
  background-color: #000000;
  border-radius: 20px;
  z-index: 1000;
  list-style: none;
  text-align: center;
  padding: 60px 0 100px;
  margin: 5px;
}
.menuList li a {
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 20px 0;
  font-weight: bold;
  color: #fff;
}
.exitBtn {
  display: block;
  background-color: #000000;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10000;
}
.exitBtn::before,
.exitBtn::after {
  display: block;
  content: "";
  width: 30px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  z-index: 10000;
}
.exitBtn::after {
  transform: translateX(-50%) rotate(45deg);
}

/* main */
.txtWrapper {
  width: 90%;
  margin: 10px auto 70px;
}
.txtWrapper h2 {
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: white; */
  font-size: 4rem;
  width: 80%;
  min-width: 90%;
  margin: 130px 10px 20px;
}
.txtWrapper h2 span {
  color: rgb(13, 54, 9);
}
.txtWrapper h2 span:nth-child(3) {
  color: rgb(126, 13, 13);
}
.txtWrapper p {
  margin: 0 10px;
}

/* desContent */
.imgWrapper {
  background: linear-gradient(to bottom, rgb(255, 255, 176), rgb(255, 177, 9));
  width: 90%;
  aspect-ratio: 4 / 3;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
}
.contentDes {
  width: 60%;
  margin: 150px auto;
  text-align: center;
  font-weight: bold;
}
.imgWrapper .contentTree {
  width: 55%;
  position: absolute;
  bottom: -40px;
  left: 40px;
  transition: transform 0.3s ease-out;
}
.imgWrapper .contentPhone {
  width: 50%;
  position: absolute;
  right: 30px;
  bottom: 20px;
  transition: transform 0.3s ease-out;
}

/* upToBtn */
.upToBtn {
  display: block;
  text-indent: -9999px;
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  right: 0;
  margin: 20px;
  border: none;
  border-radius: 50%;
  background-color: rgb(248, 177, 24);
}

.upToBtn::before,
.upToBtn::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  width: 10px;
  border-right: 3px solid #fff;
}

.upToBtn::before {
  top: 35%;
  height: 10px;
  left: 45%;
  transform: rotate(-45deg) translateY(-50%);
  border-top: 3px solid #fff;
}
.upToBtn::after {
  top: 42%;
  left: 28%;
  border-top: 0;
  height: 16px;
}
.upToBtn span::after {
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  left: 23%;
  top: 36px;
}
/* footer */
footer {
  width: 70%;
  text-align: center;
  color: #999;
  font-size: 0.7rem;
  margin: 0 auto;
  padding: 50px 0;
}
